:root {
  --dark-clr: #19283f;
  --green-clr: #33d1cc;
  --white-clr: #ffffff;
  --red-clr: #ff3150;
  --yellow-clr: #ffc400;
  --section-clr: #eff7fa;
  --border-radius: 5px;
  --transition: 0.5s;
  --scale: 1.1;
  --transparent-green-clr: #33d1ccc7;
  --txt-clr: rgba(255,255,255,.5);
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  padding: 0.5rem 1rem;
  color: var(--yellow-clr);
  transition: var(--transition);
  background-color: var(--red-clr);
}
.main-btn:hover {
  color: var(--yellow-clr);
  border: 1px solid var(--yellow-clr);
}
.main-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background-color: var(--green-clr);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-clr);
}
.navbar .navbar-nav .nav-link {
  color: var(--white-clr);
  transition: var(--transition);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-clr);
}
.navbar .search {
  border-inline-start: 1px solid var(--green-clr);
}
.navbar .search svg {
  cursor: pointer;
  color: var(--white-clr);
  transition: var(--transition);
}
.navbar .search svg:hover {
  color: var(--green-clr);
}
.navbar .navbar-toggler {
  color: var(--white-clr);
  font-size: 25px;
  transition: var(--transition);
  border-color: var(--white-clr);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-clr);
}
/* End Navbar */
/* Start Landing  */
.landing {
  min-height: calc(100vh - 72px);
  background-color: var(--dark-clr);
}
/* End Landing  */
/* Start Features Section */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-clr);
}
.features .icon-holder .icon {
  color: var(--green-clr);
}
.features .feat h4 {
  color: var(--yellow-clr);
}
/* End Features Section */
/* Start Our Work section */
.our-work {
  background-color: var(--section-clr);
}
.our-work ul li.active {
  color: var(--yellow-clr);
  background-color: var(--red-clr);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.our-work ul li:not(.active):hover {
  color: var(--red-clr);
}
.our-work .box {
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.our-work .box::after {
  content: attr(data-work);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  /* left: 0; */
  font-size: 1.5rem;
  font-weight: bold;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  color: var(--white-clr);
  transition: var(--transition);
  transform: translateX(calc(-100% - 5px));
  background-color: var(--transparent-green-clr);
}
.our-work .box:hover::after {
  transform: translateX(0);
}
/* End Our Work section */
/* Start Stuff section */
.stuff .desc {
  max-width: 500px;
}
/* End Stuff section */
/* Start Team section */
.team {
  background-color: var(--section-clr);
}
.team > h2 {
  color: var(--yellow-clr);
}
.team .box {
  overflow: hidden;
  border-radius: var(--border-radius);
}
.team .box h4 {
  background-color: var(--green-clr);
}
/* End Team section */
/* Start Project section */
.project {
  background-color: var(--dark-clr);
}
/* End Project section */
/* Start Subscrible section */
.subscrible {
  background-color: var(--yellow-clr);
}
.subscrible input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--white-clr);
}
.subscrible input::placeholder {
  color: var(--white-clr);
}
.subscrible input[type="submit"] {
  color: var(--yellow-clr);
  transition: var(--transition);
  background-color: var(--dark-clr);
}
.subscrible input[type="submit"]:hover {
  color: var(--white-clr);
}
/* End Subscrible section */
/* Start Footer section */
footer {
  background-color: var(--dark-clr);
}
footer .copyright > span {
  color: var(--green-clr);
}
footer .copyright div span {
  color: var(--yellow-clr);
}
@media (max-width: 575px) {
  footer .contact ul {
    margin: 0 auto;
    width: fit-content;
  }
}
footer .contact ul svg {
  height: 20px;
  width: 20px;
}
footer ul li a {
  color: var(--txt-clr);
  text-decoration: none;
}
footer .facebook {
  background-color: #1877f2;
}
footer .twitter {
  background-color: #1da1f2;
}
footer .linkedin {
  background-color: #0077b5;
}
footer .youtube {
  background-color: #ff0000;
}
/* End Footer section */
